<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
<nav class="navbar fixed-top navbar-light bg-dark">
    <a class="navbar-brand" href="#">Velcro</a>
    <div class="navbar-nav">
        <button class="btn btn-sm btn-light"><a class="nav-item nav-link" id="logout-button">LogOut</a></button>
    </div>
</nav>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Vendor</th>
            <th scope="col">Product Link</th>
            <th scope="col">Image Link</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.title}}</td>
                <td>{{this.vendor}}</td>
                <td><a href="{{this.productLink}}">{{this.productLink}}</a></td>
                <td><a href="{{this.imageLink}}">{{this.imageLink}}</a></td>
            </tr>
        {{/each}}
    </table>
</div>
<script type="text/javascript" src="./scripts/index.js"></script>
</body>
</html>